/* main */

main {
    width: 100%;
    height: 75vh;
    position: relative;
    background-image: url(./../img/img-index2.jpg);
    background-size: cover;
}

main .main_text {
    text-align: justify;
    color: var(--color-general-black);
    position: absolute;
    max-width: 35vw;
    bottom: 13%;
    left: 10%;
    padding: 2rem;
    background-color: rgba(0, 255, 255, 0.438);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

main .main_text h1 {
    font-size: 7rem;
    font-weight: 900;
    margin: 1.5rem 0;
}

main .main_text p {
    font-size: 1.6rem;
    font-weight: 550;
    margin: 1.5rem 0;
}

